{% extends "base.html" %}

{% block title %}My NFTs{% endblock %}

{% block content %}
<h1>My NFTs</h1>
<a href="/" class="btn">Go Back</a>

{% if nfts %}
<div class="nft-container">
    {% for nft in nfts %}
    <div class="nft-item">
        <a href="{{ nft.tokenURI }}" target="_blank">
            <img src="{{ nft.tokenURI }}" alt="NFT Image">
        </a>
        <div class="nft-details">
            <p><strong>Token ID:</strong> {{ nft.tokenId }}</p>
            <p><strong>Owner:</strong> {{ nft.owner }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No NFTs found</p>
{% endif %}
{% endblock %}
